@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karla:wght@300&family=Noto+Sans+KR&display=swap');

:root{
    /* color */
    --black-color: rgb(34, 34, 34);
    --white-color: rgb(243, 243, 243);
    --green-color: rgb(41, 156, 91);

    /* font size */
    --Xlarge-font: 55px;
    --large-font: 40px;
    --medium-font: 20px;
    --small-font: 15px;
}

body{
    margin:0;
    padding:0;
    background-color: var(--white-color);
}

ul{
    list-style: none;
}

p{
    margin:0px;
}

header{
    display: flex;
    padding: 2% 8%;
    position: sticky;
    top:0;
    z-index: 10;
    background-color: var(--white-color);
}

header .logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .menu{
    margin-left: 100px;
}

header .menu ul{
    display: flex;
}

header .menu li{
    margin-right: 50px;
    font-family: 'Karla', sans-serif;
}

.first-page{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 50px;

}
.first-page .main-pic{
    display: flex;
    width: 73vw;
    min-width: 800px;
    position: relative;
    left: 20vw;
    box-shadow: -5px 5px 20px 0px rgb(163, 163, 163);
}

.first-page .left-text{
    position: absolute;
    margin-top: 10%;
    left: 8%;
    z-index: 1;
    font-family: 'Karla', sans-serif;
}

.first-page .left-text .bg-text{
    font-family: 'Abril Fatface', cursive;
    font-size: var(--Xlarge-font);
    color: var(--green-color);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.first-page .left-text .sm-text{
    background-color:rgba(41,156,91,0.9);
    color: var(--white-color);
    font-size: var(--medium-font);
    font-family: 'Noto Sans KR', sans-serif;
    width:fit-content;
    padding: 3px 6px;
    border-radius: 5px;
}

.first-page .left-text .micro-text{
    background-color: rgba(83, 83, 83, 0.9);
    opacity: 0.9;
    font-size: var(--small-font);
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
    padding: 3px 6px;
    color: var(--white-color);
    width: fit-content;
    border-radius: 5px;
}

.second-page{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
}

.second-page .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-page .connect{
    font-size: var(--Xlarge-font);
    color: var(--green-color);
}

.second-page .second-title{
    font-size: var(--large-font);
    font-family: 'Abril Fatface', cursive;
}

.second-page .second-subtitle{
    font-size: var(--small-font);
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}

.second-page .new-menus{
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
}

.second-page .menu img
{
    display: flex;
    width: 17vw;
    min-width: 200px;
    margin: 30px 6vw;
}

.second-page .menu .eng-name{
    font-family: 'Abril Fatface', cursive;
    font-size: var(--medium-font);
    display: flex;
    justify-content: center;
    margin-left: -25px; 
    /* 손잡이가 오른쪽에 달려서 중앙처럼 안보이는 문제 해결을 위해 - px 주었음 */
}

.second-page .menu .kor-name{
    font-size: var(--small-font);
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px; 
}






/* 스크롤 시 나타나기 */
@keyframes appear{
    from{
        left: -30%;
        opacity: 0;
    }
    to{
        left: 8%;
        opacity: 1;
    }
}

/* 스크롤시 사라지기 */
@keyframes disappear{
    from{
        margin-left: 80px;
        opacity: 1;
    }
    to{
        margin-left: -300px;
        opacity: 0;
    }
}

@keyframes menus-appear{
    from{
        margin-left: -1500px;
    }
    to{
        margin-left: 40px;
    }
}

@keyframes menus-disappear{
    from{
        margin-left: 40px;
    }
    to{
        margin-left: -1500px;
    }
}
